*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    padding: 100px;
    margin: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transform: scale(1);
}
body{
    background-image: linear-gradient(rgba(4, 4, 116, 0.5), rgba(24, 24, 23, 0.5)), url("./Imagem/Wow\,\ muito\ lindo.jpeg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black; 
    background-size: 100% 100%;
}
h1{
    margin: 20px;
}
th,
td{
    border-bottom:  #E7E7E7 solid 2px; 
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.conteiner{
    color: #fff;
    padding: 20px;
    border: solid #E7E7E7  2px;
    backdrop-filter: blur(3px);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 960px;
    margin: 5% auto;
    /* height: 80%; */
    /* display: ; */
    align-items: center;
    /* flex-direction: column;
    flex-wrap: wrap; */
}
#fechar{
    cursor: pointer;
}
table{
    width: 82%;
}
form{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 82%;
    /* flex-direction: column; */
}
input, 
button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90%;
    /* margin: auto;  */
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    /* width: 500px; */
    width: 100%;
    margin: 10px; 
}
button{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 100%;
    border: none;
    max-width: 15%;
}
